<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Eclipse 3.5 CDT" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.5.0.I20090611-1540"/>
<unit id="org.eclipse.platform.sdk" version="3.5.0.I20090611-1540"/>
<unit id="org.eclipse.sdk.ide" version="3.5.0.I20090611-1540"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.5"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="6.0.0.200906161748"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="6.0.0.200906161748"/>
<repository location="http://download.eclipse.org/tools/cdt/releases/galileo"/>
</location>
</locations>
</target>
