<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	         id="com.googlecode.cppcheclipse.Builder"
	         name="cppcheck Project Builder"
	         point="org.eclipse.core.resources.builders">
	      <builder
	            hasNature="true">
	         <run
	               class="com.googlecode.cppcheclipse.ui.actions.Builder">
	         </run>
	      </builder>
	   </extension>
	   <extension
	         id="com.googlecode.cppcheclipse.Nature"
	         name="cppcheck Nature"
	         point="org.eclipse.core.resources.natures">
	      <runtime>
	         <run
	               class="com.googlecode.cppcheclipse.ui.actions.Nature">
	         </run>
	      </runtime>
	      <builder
	            id="com.googlecode.cppcheclipse.Builder">
	      </builder>
	   </extension>
	    <extension
	         id="com.googlecode.cppcheclipse.Problem"
	         name="cppcheck Problem"
	         point="org.eclipse.core.resources.markers">
	      <super
	            type="org.eclipse.core.resources.problemmarker">
	      </super>
	      <persistent
	            value="true">
		</persistent>
	</extension>
	<extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*"
            id="com.googlecode.cppcheclipse.ui.RunAction">
         <action
               label="Run cppcheck"
               class="com.googlecode.cppcheclipse.ui.actions.RunCodeAnalysis"
               menubarPath="additions"
               enablesFor="+"
               id="com.googlecode.cppcheck.RunCodeAnalysis">
         </action>
      </objectContribution>
    </extension>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
         	category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="com.googlecode.cppcheclipse.ui.preferences.BinaryPathPreferencePage"
            id="com.googlecode.cppcheclipse.ui.BinaryPathPreferencePage"
            name="cppcheclipse">
      </page>
      <page
         	category="com.googlecode.cppcheclipse.ui.BinaryPathPreferencePage"
            class="com.googlecode.cppcheclipse.ui.preferences.SettingsPreferencePage"
            id="com.googlecode.cppcheclipse.ui.SettingsPreferencePage"
            name="Settings">
      </page>
      <page
         	category="com.googlecode.cppcheclipse.ui.BinaryPathPreferencePage"
            class="com.googlecode.cppcheclipse.ui.preferences.ProblemsPreferencePage"
            id="com.googlecode.cppcheclipse.ui.ProblemsPreferencePage"
            name="Problems">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
      	 name="cppcheclipse"
            class="com.googlecode.cppcheclipse.ui.preferences.SettingsPreferencePage"
            id="com.googlecode.cppcheclipse.ui.SettingsPropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
      		category="com.googlecode.cppcheclipse.ui.SettingsPropertyPage"
            class="com.googlecode.cppcheclipse.ui.preferences.ProblemsPreferencePage"
            id="com.googlecode.cppcheclipse.ui.ProblemsPropertyPage"
            name="Problems">
        <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
      		category="com.googlecode.cppcheclipse.ui.SettingsPropertyPage"
            class="com.googlecode.cppcheclipse.ui.preferences.BuildPropertyPage"
            id="com.googlecode.cppcheclipse.ui.BuildPropertyPage"
            name="Build">
        <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
       <page
      		category="com.googlecode.cppcheclipse.ui.SettingsPropertyPage"
            class="com.googlecode.cppcheclipse.ui.preferences.SuppressionsPropertyPage"
            id="com.googlecode.cppcheclipse.ui.SuppressionsPropertyPage"
            name="Suppressions">
        <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
       <page
      		category="com.googlecode.cppcheclipse.ui.SettingsPropertyPage"
            class="com.googlecode.cppcheclipse.ui.preferences.AdvancedSettingsPropertyPage"
            id="com.googlecode.cppcheclipse.ui.AdvancedSettingsPropertyPage"
            name="Advanced Settings">
        <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   
	<extension
		point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="com.googlecode.cppcheclipse.Problem"
			class="com.googlecode.cppcheclipse.ui.marker.ResolutionGenerator">
		</markerResolutionGenerator>
	</extension>
   
   
</plugin>
