<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Eclipse 3.7 CDT" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.platform.sdk" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.sdk.ide" version="3.7.0.I20110613-1736"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="8.0.0.201106081058"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.0.0.201106081058"/>
<repository location="http://download.eclipse.org/tools/cdt/releases/indigo"/>
</location>
</locations>
</target>
